<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/endereço.css">
    <link rel="shortcut icon" href="../img/favicon.jpeg" type="image/x-icon">
    <title>Cadastro de endereço</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/menu home.jpeg" width="50px">
            </div>

            <ul class="links">
                <li><a href="" id="a">Meu endereço</a></li>
                <li><a href="../index.html" id="b">Página Principal</a></li>
                <li><a href="home.html" id="c">Home</a></li>
            </ul>

        </nav>
       
    </header>

    <div class="cada">
        <h1>Cadastro de endereço <br><span>Synergyfit</span></h1>
        <p>Agora, faça seu cadastro de endereço!</p>
    </div>
<main>
    
        <form>
    
            <div class="campo">
                <label for="title">Titulo</label>
                <input type="text" name="casa" id="titulo" placeholder="Digite o titulo">
            </div>
    
            <div class="campo">
                <label for="cep">Cep</label>
                <input type="number" name="cep" id="cep" placeholder="Digite seu cep">
            </div>
    
            <div class="campo">
                <label for="endereço">Endereço</label>
                <input type="text" name="endereço" id="endereço" placeholder="Digite seu endereço">
            </div>
    
    
    
            <div class="campo">
                <label for="numero">Número</label>
                <input type="number" name="numero" id="senha" placeholder="Digite seu ´numero">
            </div>
    
            <div class="campo">
                <label for="complemento">Complemento</label>
                <input type="number" name="complemento"  id="conf_senha" placeholder="Digite o complemento">
            </div>
    
    
    
        <input type="button" value="Finalizar" id="botao">
    
        <p id="resposta"></p>
    
    </form>
</main>
<br>
<br>
<footer>
      
    <div id="div_icones">
        <img src="../img/icone_face.png" class="icone" width="30px">
        <img src="../img/icone_email.png" class="icone" width="30px">
        <img src="../img/icone_yt.png" class="icone" width="30px">
        <img src="../img/icone_tel.png" class="icone" width="30px">
    </div>
    <p class="footer_info">Avenida Santos Dumont 789 - Jardins</p>
    <p class="footer_info">faleconosco@synergyfit.com</p>
    <nav>
        <a href="#" class="footer_info">Sobre Nós</a>
        <a href="#" class="footer_info">Fale Conosco</a>
    </nav>
  
</footer>


</body>
</html>