<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..//img/favicon.jpeg" type="image/x-icon">
    <title>Home SynergyFit</title>
</head>
<body>
    <header>

        <div class="top">
            <ul class="link" type="none">
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </div>
        <nav class="nav">
            <div class="logo">
                <img src="../img/menu home.jpeg">
            </div>

            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Nossas Academias</a></li>
                <li><a href="#">Benefícios</a></li>
                <li><a href="#">Fale conosco</a></li>
            </ul>

            <div class="icons">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="Youtube"></i></a>
                <a href="#"><i class="telefone"></i></a>
            </div>
        </nav>
       
        <div class="banner">
            <img src="../img/home_foto.jfif" class="imagem">
        </div>
    </header>

    <section>
        <h1 class="beneficio">Benefícios da Synergy<span>Fit</span></h1>
        <br>

        <div class="bene">
            <h2>Variedade de Equipamentos</h2>
            <img src="../img/peso home.png" width="50px">
        </div>
        

        <ul type="none">
            <li>Acesse uma ampla gama de equipamentos de musculação e cardio para atender a todos os níveis de habilidade. Temos máquinas de última geração, pesos livres e equipamentos para atividades funcionais, permitindo que você diversifique seu treino e trabalhe diferentes grupos musculares.</li>
        </ul>
        <hr>

        <div class="bene">
            <h2>Aulas diversificadas</h2>
            <img src="../img/icone yoga.webp" width="50px">
        </div>

        <ul type="none">
            <li>Participe de aulas de yoga,pilates, spinning e treinamento funcional. As aulas são conduzidas por instrutores qualificados e são projetadasa para atender a diferentes níveis de condicionemnto físico. Essa diversidade mantém seu treino interessante e desafiador.</li>
        </ul>
            <hr>
        <div class="bene">
            <h2>Treinadores Qualificados</h2>
            <img src="../img/icone treinando.webp" width="60px">
        </div>

        <ul type="none">
            <li>Nossos treinadores certificados estão disponíveis para oferecer orientação e suporte. Eles podem ajudá-lo a desevolver um plano de treino personalizado, garantir que você esteja usando a técnica correta e fornecer motivação durante sua jornada. </li>
        </ul>
        <br>
    </section>

    <section class="agenda" id="img">
        <h1>Agenda de aulas<br><span>SynergyFit</span></h1>

        <div>
            <h2>Segunda-Feira</h2>
            <ul type="none">
                <li>07:00 - 8:00: Yoga- Instrutor: Ana Souza</li>
                <li>08:15 - 9:15: Zumba - Instrutor: Carlos Mendes</li>
                <li>09:30 - 10:30: Musculação Orientada - instrutor: João Silva </li>
                <li>18:00 - 19:00: Pilates - instrutora: Maria Oliveira</li>
            </ul>
        </div>

        <div>
            <h2>Terça-Feira</h2>
            <ul type="none">
                <li>07:00 - 08:00: Dance Cardio - instrutora: Fernanda Almeida</li>
                <li>18:00 - 19:00: Boxe - Instrutor: Ricardo Gomes</li>
                <li>19:15 - 20:15: Circuito Funcional - Instrutora: Beatriz Ramos</li>
            </ul>
        </div>

        <div>
            <h2>Quarta-Feira</h2>
            <ul type="none">
                <li>08:15 - 09:15: Spinning - Instrutora: Patrícia Lima</li>
                <li>18:00 - 19:00: Dança do Ventre - Instrutor: Larissa Rocha</li>
            </ul>
        </div>

      
    </section>
    
    <footer>
      
        <div id="div_icones">
            <img src="../img/icone_face.png" class="icone" width="30px">
            <img src="../img/icone_email.png" class="icone" width="30px">
            <img src="../img/icone_yt.png" class="icone" width="30px">
            <img src="../img/icone_tel.png" class="icone" width="30px">
        </div>
        <p class="footer_info">Avenida Santos Dumont 789 - Jardins</p>
        <p class="footer_info">faleconosco@synergyfit.com</p>
        <nav>
            <a href="#" class="footer_info">Sobre Nós</a>
            <a href="#" class="footer_info">Fale Conosco</a>
        </nav>
      
    </footer>

</body>
</html>